# Dependências
node_modules/
package-lock.json
yarn.lock

# Variáveis de ambiente
.env

# Logs
logs/
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
